<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="matmarchew.clientapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ThrowCubeActivity" />
        <activity android:name=".PutBetCardActivity" />
        <activity android:name=".PutDesertTileActivity" />
        <activity android:name=".GetBetTileActivity" />
        <activity android:name=".ChooseStackActivity" />
        <activity android:name=".ChooseFieldActivity"></activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>